.duo_img{
    width: 100%;
}

.button_header{
    padding: 8px;
    width: 70%;
}

.icon_button{
    width: 24px;
    margin-right: 5px;
}

.text_button{
    font-size: 20px;
    font-weight: 500;
}
header{
    margin: 24px 0;
}



.topico{
    padding: 0 24px;
    gap: 16px;
    margin-top: 24px;
    width: 100%;
}

h2{
    font-size: 32px;
}

.icon_title{
    margin-right: 10px;
}

.topico p{
    font-size: 16px;
}

.icon_home_challenger{
    width: 30%;
    padding-right: 8px;

}
